{% extends "sidebar-base.html" %}

{% block title %}
SSMU Women in Tech | {{ title }} 
{% endblock title %}

{% block header %}
<div class='text-center'>
  <img src="/static/img/logo.png">
  <h1>{{ title }}</h1>
</div>
{% endblock header %}
{{ title }}
<hr/>

{% block content %}
<div class='container'>
  <div class='row'>

    <div class='col-md-9'>
      <div class='jumbotron'>
        <h2 id="upcoming-events">
          Upcoming Events
        </h2>
        <div class='row'>
            <div class='col-md-10'>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2016-03-10.jpg" style="width:600px;"><br/>
                  
                  When: Thursday, March 10 at 5:30pm<br/>
                  Where: Bronfman Room 001<br/><br/>
                  
                  SSMU Women in Tech invites you to come out and meet Ceren Koca, Diana Cheptene and Claudia Khoukaz, consultants working at IBM Montreal. The evening will start with a workshop focused on a variety topics within the technology sector, including how to position yourself in order to best leverage the roles and opportunities available to you. Following the workshop will be Q&A and networking opportunities. FREE PIZZA will also be served!<br/><br/>
                  
                  All students from all years and faculties are welcome! Please <a href='http://goo.gl/forms/eqc8PEf7xr'>RSVP</a><br/><br/>

                  We look forward to seeing you there!<br/><br/>

              </div>
            </div>
        </div>
        <hr>

        <h2 id="past-events">
          Past Events
        </h2>
        <div class='row'>
            <div class='col-md-10'>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2014-10-30.jpg">
                  
                  When: Friday, October 30 at 4:00pm<br/>
                  Where: Room Lev Bukhman-SSMU Building 2nd Floor<br/><br/>
                  
                  SSMU Women in Technology is proud to present a Wine & Cheese! Come out and enjoy COMPLIMENTARY wine and hors d'oeuvres. All McGill students are welcome!<br/><br/>
                  
                  The event will also be featuring a guest speaker, Nancy Naluz, from McGill's chapter of Ladies Learning Code. Don't miss out on this incredible opportunity to expand your network while enjoying great food, drinks and company. See you there!<br/>
              </div>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2014-10-07.jpg"><br/>
                  Thursday, March 12th from 12-1pm <br/>
                  9:30am - 3:30pm <br/>
                  3625 Parc Avenue<br/><br/>
                   
                  Connect with top employers with the purpose of exploring career or internship opportunities!<br/><br/>
              </div>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2015-03-12.png"><br/>
                  Wednesday October 7 & Thursday October 8<br/>
                  Room Madelaine Parent, SSMU Building<br/><br/>
                   
                  Do you work hard or work well? Kim-Anh Tran will share personal stories and lessons learned from her fascinating career in IT & Engineering. Come meet this dynamic young alumna and share your thoughts on building a thriving, meaningful and sustainable career by prioritizing well-being and creativity.<br/><br/>

                  Guest speaker profile: Kim-Anh Tran, MBA'09, B.Eng '03, Strategic Advisor - Innovation & Technologies, R3D Conseil.<br/><br/>

                  A delicious light & healthy lunch will be provided, as part of POWE's Wellness Week!<br/><br/>
              </div>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2015-02-19.png"><br/>
                  February 19th, 2015 from 4-5pm<br/>
                  SSMU Building, Room: lev bukhman<br/><br/>
                   
                  Join us for a talk from Desautels' Information Systems career advisor Julia Riscaldino!<br/><br/>

                  Guest speaker profile: Kim-Anh Tran, MBA'09, B.Eng '03, Strategic Advisor - Innovation & Technologies, R3D Conseil.<br/><br/>

                  Hear about how to be more proactive in your job search and about the IT Consulting field.<br/><br/>
              </div>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2015-02-06.jpg"><br/>
                  February 19th, 2015 from 4-5pm<br/>
                  SSMU Building, Room: lev bukhman<br/><br/>
                   
                  Join us for a talk from Desautels' Information Systems career advisor Julia Riscaldino!<br/><br/>

                  Guest speaker profile: Kim-Anh Tran, MBA'09, B.Eng '03, Strategic Advisor - Innovation & Technologies, R3D Conseil.<br/><br/>

                  Hear about how to be more proactive in your job search and about the IT Consulting field.<br/><br/>
              </div>
              <hr>
              <div class='main-featured-item'>
                  <img src="/static/img/2014-11-21.png"><br/>
                  November 21:  12:30 - 13:30<br/>
                  FDA 5<br/><br/>
                   
                  Join us for a talk from Montreal Yelp's Community Manager Risa Dickens.<br/><br/>

                  Partnering with McGill's POWE (Promoting Opportunities for Women in Engineering), hear about what it takes to become a successful woman in IT from fellow Montrealer.<br/><br/>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div class='col-md-3'>
      <nav class="hidden-print hidden-sm hidden-xs sidebar affix-top" >
        <ul class="nav nav-stacked">
          <li><a href="#upcoming-events">Upcoming Events</a></li>
          <li><a href="#past-events">Past Events</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
    
</div>

{% endblock content %}
